name: Terraform EKS Pipeline

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Terraform Action'
        required: true
        default: 'plan'
        type: choice
        options:
          - init
          - lint
          - plan
          - apply
          - destroy

jobs:
  terraform:
    name: Terraform EKS Actions - ${{ github.event.inputs.action }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        if: ${{ github.event.inputs.action == 'init' || github.event.inputs.action == 'plan' || github.event.inputs.action == 'apply' || github.event.inputs.action == 'lint' || github.event.inputs.action == 'destroy' }}
        run: terraform init

      - name: Terraform Format (Lint)
        if: ${{ github.event.inputs.action == 'lint' }}
        run: terraform fmt -check

      - name: Terraform Validate
        if: ${{ github.event.inputs.action == 'lint' }}
        run: terraform validate

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan -out=tfplan

      - name: Terraform Plan (for Apply)
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform plan -out=tfplan

      - name: Check tfplan file exists
        if: ${{ github.event.inputs.action == 'apply' }}
        run: |
          if [ ! -f tfplan ]; then
            echo "tfplan file not found! Terraform plan step may have failed."
            exit 1
          fi

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve tfplan

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve
